

<main class="main">
  <div class="">
    <!-- <app-hello-world></app-hello-world> -->
  </div>
    <nav class="navbar">
      <div class="navbar-brand">
        <a href="#" class="logo">Logo</a>
      </div>
      
      <button class="mobile-menu-btn" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="navbar-menu" [class.active]="isMenuOpen">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true} ">Home</a>
        <a routerLink="/about" routerLinkActive="active">About</a>

      </div>
    </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <p>&copy; {{CurrentYear}} My Angular App</p>
  </footer>

  

</main>

