@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
  --primary-color: #3b82f6;
  --secondary-color: #10b981;
  --text-color: #1f2937;
  --text-light-color: #4b5563; // Added a specific light text color
  --background-color: #f9fafb;
  --card-background: #ffffff;
}

* {
  // margin: 0;
  // padding: 0;
  // box-sizing: border-box;
}



